<div class="text-center">
    <h1 class="dish5lay-4">Contact Ulster University Student Management</h1>
    <h5 class="dish5lay-4">Email us at: uustudentmanagement@ulster.ac.uk</h5>
    <h5 class="dish5lay-4">For immediate support call us at: +447434225839</h5>
</div>

