@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ulster University Student Management</h1>
    <p>View more info at <a href="https://www.ulster.ac.uk/">ulster.ac.uk</a></p>
    <a asp-area="" asp-controller="Students" asp-action="Index"> 
        <button type="button" class="btn btn-primary" >Student Manager</button>
    </a>
</div>
