<div class="text-center">
    <h1 class="display-4">About Ulster University Student Management</h1>
    <h5>This student management system allows for creating, editing, deleting and listing the details of students for Ulster University.</h5>
    <h5>Under the hood it is developed in C# ASP.NET web framework using the Model-View-Controller(MVC) pattern.</h5>
</div>

